language: php

php:
    - 7.3

script: phpunit

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-source
    - cp config.dist.php config.php
script:
    - vendor/bin/phpunit --coverage-clover=coverage.xml
