language: php

php:
    - 7.3

script: phpunit

before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-source
    - cp config.dist.php config.php

script:
    - ant build-travis

#after_script

after_success:
# Submit coverage report to https://codecov.io
- bash <(curl -s https://codecov.io/bash)

## Monitor only these branches
branches:
  only:
  - master
  - dev